export RESTAURANT_DB_DSN=postgres://restaurant:restaurant@localhost/restaurant_management_db?sslmode=disable
export PORT=4000
export ENVIRONMENT=development
export RATE_LIMITER_RPS=2
export RATE_LIMITER_BURST=5
export RATE_LIMITER_ENABLED=true
export CORS_TRUSTED_ORIGINS="http://localhost:9000 http://localhost:9001"
export SHUTDOWN_TIMEOUT=30